body{
  background-color: powderblue;  
}

#score{
    font-size: 30px;
    margin-left:50px ;
    float:left;
}

#timer{
font-size: 30px;
margin-right: 50px;
float:right;
}
canvas{
  border: 5px solid white;
  border-radius: 20px;
  animation-name: example;
  animation-duration: 4s;
  margin-top: 50px;
  animation-iteration-count: infinite;}

